@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-merriweather: "Merriweather", serif;
}

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-merriweather);
  --font-cinzel: var(--font-cinzel);
}

.font-cinzel {
  font-family: var(--font-cinzel);
}

body {
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out forwards;
  opacity: 0;
  /* Start hidden */
}

html {
  scroll-behavior: smooth;
}