@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-merriweather: "Merriweather", serif;
}

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-merriweather);
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
